
<launch>

  <rosparam command="load" file="$(find robot_localization)/params/car_dual_ekf_navsat_example.yaml" />

  <!--                      INSTANCE FOR JUST FUSING IMU AND VO                                                 -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true" output="screen"/>


  <!--                       INSTANCE FOR FUSING VO, IMU AND GPS                                                 -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true" output="screen">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <!--navsat node, topics have been remapped according to the rosbags-->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
    <remap from="/gps/fix" to="/gps_new" />
    <remap from="/imu/data" to="/imu_new" />
    <!--remap from="/odometry/filtered" to="/odom_combined" /-->
  </node>


  <!--Currently using Static transforms, might be inaccurate-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="bl_zed" args="0 0.0 0.0 0.0 0.0 0.0 1.0 base_link zed_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="bl_gps" args="0 0 0 0 0 0 1 base_link gps"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="bl_imu" args="0 0 0 0 0 0 1 base_link imu"/>

  <!--for playing rosbags-->
  <node pkg="rosbag" type="play" name="rosbagplay" args="$(find robot_localization)/bag/all.bag --clock -d 5"  required="true"/> 
 

</launch>
